{% extends "default.html" %}
{% block title %}Delete a video game{% endblock %}
{% block header %}Select a video game and delete it:{% endblock %}
{% block content %}
    <form method="POST" action="do_delete_video_game">
    <table class="data_entry_form">
        <tr><th><label>Video Game:</label></th><td>
            {% set select_name = "game" %}
            {% include "select_video_game.html" %}
        </td></tr>
        <tr><th colspan="2"><button type="submit">DELETE</button></th></tr>
    </table>
    </form>
{% endblock %}